@import 'app/monitor/monitor';
@import 'app/statusDisplay/statusDisplay';
@import 'app/lock/lock';

body {
    background-color: #cdcdcd;
    color: #a9aebd;
}

nav {
    background-color: #1a1c22;
    border-color: #1a1c22;
}

.navbar {
  border-radius: 0;
}

.well {
  border: 1px solid #101010;
  background-color: #101010;
  border-radius: 0;

  input {
    background-color: #cdcdcd;
    border: 1px solid #cdcdcd;
  }
}

.m-b-sm { margin-bottom: 5px; }
.m-b-md { margin-bottom: 10px; }
.m-b-lg { margin-bottom: 15px; }
.m-t-sm { margin-top: 5px; }
.m-t-md { margin-top: 10px; }
.m-t-lg { margin-top: 15px; }
